body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: darkgray;
    font-family: sans-serif;
    font: bold;
    margin-top: 10%;
}